[target.aarch64-unknown-linux-gnu]
pre-build = [
    "dpkg --add-architecture arm64",
    "apt-get update && apt-get install -y pkg-config libudev-dev:arm64 curl ca-certificates libstdc++6:arm64 libgcc-s1:arm64 perl make",
    "mkdir -p /.cache && chmod 777 /.cache",
    "mkdir -p /root/.cache && chmod 777 /root/.cache",
    "mkdir -p /tmp/.cache && chmod 777 /tmp/.cache"
]

[build.env]
passthrough = [
    "CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_RUSTFLAGS"
]

